<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog>
    <targets>
      <target
        name ="logFile"
        type="File"
        fileName="${basedir}/log/SocketServer.log"
        layout="${longdate} [${uppercase:${level:padding=-5}}] [${threadname}] [${callsite:className=true:methodName=true}] ${message} ${exception:format=Message, Type, ToString:separator=*}"
        archiveFileName="${basedir}/log/SocketServer.{####}.log"
        archiveNumbering="Rolling"
        maxArchiveFiles="10"
        archiveAboveSize="10240000"
        keepFileOpen="true"
        />
      <target
        name ="logWindow"
        type="RichTextBox"
        layout="${longdate} [${uppercase:${level:padding=-5}}] [${threadname}] [${callsite:className=true:methodName=true}] ${message} ${exception:format=Message, Type, ToString:separator=*}"
        autoScroll="true"
        maxLines="100"
        toolWindow="true"
        showMinimized="false"
        />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="logFile,logWindow" />
    </rules>
  </nlog>
</configuration>